.navigation {
  height: $site-nav-height-mobile;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  z-index: 1025;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, auto));
  align-items: center;

  padding: 0 30px;

  @include breakpoint(xlarge) {
    height: $site-nav-height;
  }

  &--fixed {
    position: fixed;
  }

  &--transparent {
    border: none;
    background-color: transparent;
    background-image: none;
    @include transition(background-color 300ms ease-out);
  }

  &__logo {
    align-self: start;
  }

  &__menu-bar {
    justify-self: end;
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: flex-end;
  }

  &__search {
    width: 100%;
    border-radius: 20px;
    padding-left: 2em;
    margin: 0 1em;
    
    @include breakpoint(medium) {
      max-width: 500px;
    }
  }

  &__menu {
    margin: 0 0 0 1.5rem;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  &__link {
    font-size: 15px;
    color: $black;
    font-weight: 700;
    padding: 6px 0;
    margin: 0 22px;
    white-space: nowrap;
    letter-spacing: -0.5px;
    position: relative;
    @include transition(color 300ms ease-out);

    &--active {
      &:after {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $anchor-color;
        @include horizontal-center;
        bottom: -7px;
      }
    }

    &:hover, &:focus {
      color: lighten($black, 10);
    }
  }

  &__menu-toggle {
    height: 22px;
    width: 20px;
    background-color: #fff;
    align-self: center;
    flex-shrink: 0;
    margin-left: 1em;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      @include absolute-center;
      width: 100%;
      display: block;
      border-top: 2px solid gray;  
    }

    &:hover, &:focus {
      border-color: darken(gray, 10);

      &:before {
        border-color: darken(gray, 10);
      }
    }
  }
}

.navigation-mobile {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1050;
  padding-top: 75px;
  overflow-y: auto;

  &__close {
    position: fixed;
    right: 26px;
    top: 9px;
    overflow: hidden;
    font-size: 50px;
    color: #eee;
  }

  &__menu {
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 20px;
    color: #eee;
    padding: 8px 24px;
    font-size: 24px;
    display: block;
    margin: 8px 0;
    @include transition(color 300ms ease-out);

    &--active {
      text-decoration: underline;
    }

    &:hover, &:focus {
      color: darken(#eee, 10);
    }
  }
}

.side-navigation {
  margin-top: 100px;

  ul {
    margin: 0;
    list-style: none;
    line-height: 2;
  }
}

.tag-list {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;

  &__tag {
    padding: 20px;
  }
}

.pagination {
  padding: 30px;
  background-color: #fff;
  text-align: center;
  position: sticky;
  bottom: 0;
  margin: 40px 0 0;
  z-index: 2;

  li {
    color: #343a40;

    &.disabled {
      pointer-events: none;
    }
  }

  .page-link {
    padding: 0.1875rem 0.75rem; // 3px 12px
    margin: 0 2px;
  }

  .active a {
    background-color: #343a40;
    border: none;
    color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}