$site-nav-height: 86px;
$site-nav-height-mobile: 70px;
$site-hero-height: 680px;
$site-hero-height-mobile: 485px;
$site-logo-bar-height: 110px;
$site-logo-bar-height-mobile: 90px;
$site-footer-height: 120px;
$site-container-gutters: 20px;

// COLORS
$site-color-gray-1:   #DDDDDD;
$site-color-gray-2:   #5E5E5E;
$site-color-blue-1:   #25BEEE;
$site-color-blue-2:   #445B71;
$site-color-blue-3:   #314559;
$site-color-green-1:  #70DEDA;
$site-color-green-2:  #2CD7D2;
$site-color-yellow-1: #FCC768;
$site-color-orange-1: #FB6653;

$site-gradiet-blue: linear-gradient(60deg,#25BEEE 4%,#25BEEE,#2CD7D2,#2CD7D2 119%);

$postcard-grid-cell-min-height: 22.5rem; // 360px
$postcard-grid-cell-stack-max-height: 38.375rem; // 614px
$postcard-grid-gap: 0.875rem; //14px
